@import '../colors.scss';
// .container {
//   margin-top: 30px;
// }

.vertical-center {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

label {
  color: white;
}

.form-box {
  padding: 40px;
  border: 1px solid #cccccc;
  border-radius: 10px;
  box-shadow: 2px 2px 0px 0px #aaaaaa;
  background-color: $mainMenu;
  margin: 14vw;
}

input,
select {
  &.ng-invalid {
    &.ng-touched {
      border: 1px solid #d84727;
    }
  }
}

.btn-primary {
  background-color: $menuItems;
  border-color: $menuItems;
  margin-left: 14px;
}

#signUp {
  padding-left: 60px;
  color: white;
}

#signUpLink:hover {
  text-decoration: underline;
  color: $menuItems;
  cursor: pointer;
}
