@import "colors.scss";

@media all and (max-width: 30em) {
  #msgBtn {
    display: block;
    margin: 0.2em auto;
  }
}

#msgBtn {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  display: inline-block;
  padding: 0.5em 3.4em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 15px;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  color: #ffffff;
  background-color: $menuItems;
  text-align: center;
  transition: all 0.2s;
}

#msgBtn:hover {
  box-shadow: none;
  cursor: pointer;
}

.container {
  margin-top: 30px;
}

.form-box {
  padding: 20px;
  border: 1px solid #cccccc;
  border-radius: 10px;
  box-shadow: 2px 2px 0px 0px #aaaaaa;
  background-color: #5eb1bf;
}

input,
select {
  &.ng-invalid {
    &.ng-touched {
      border: 1px solid #d84727;
    }
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #042a2b;
  margin: 12% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50.375rem;
  height: 21.375rem;
  line-height: 2.375rem; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.btn-primary {
  background-color: #ef7b45;
  border-color: #ef7b45;
  margin-left: 14px;
}

.example-ripple-container {
  cursor: pointer;
  text-align: center;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}
