<div>
  <button id="msgBtn">new message</button>
  <div #myModal id="msgModal" class="modal">
    <div class="modal-content">
      <span (click)="closeClicker" class="close">&times;</span>
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-12 col-md-8 form-box">
            <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="form-group col-12 col-md-6">
                  <label for="subject"></label>
                  <input
                    type="text"
                    id="subject"
                    class="form-control"
                    formControlName="subject"
                    placeholder="Subject"
                  />
                  <span
                    *ngIf="
                      !signupForm.get('subject').valid &&
                      signupForm.get('subject').touched
                    "
                    class="form-text text-muted"
                    >Please enter a subject!</span
                  >
                </div>

                <div class="form-group col-12 col-md-6">
                  <label for="sendTo"></label>
                  <input
                    type="text"
                    id="sendTo"
                    class="form-control"
                    formControlName="sendTo"
                    placeholder="Send To..."
                  />
                  <span
                    *ngIf="
                      !signupForm.get('sendTo').valid &&
                      signupForm.get('sendTo').touched
                    "
                    class="form-text text-muted"
                    >Please enter a valid Email!</span
                  >
                </div>

                <div class="form-group col-12 col-md-6">
                  <label for="CC"></label>
                  <input
                    type="text"
                    id="CC"
                    class="form-control"
                    formControlName="CC"
                    placeholder="CC"
                  />
                  <span
                    *ngIf="
                      !signupForm.get('sendTo').valid &&
                      signupForm.get('sendTo').touched
                    "
                    class="form-text text-muted"
                    >Please enter a valid Email!</span
                  >
                </div>

                <div class="form-group col-12 col-md-6">
                  <label for="BCC"></label>
                  <input
                    type="text"
                    id="BCC"
                    class="form-control"
                    formControlName="BCC"
                    placeholder="BCC"
                  />
                  <span
                    *ngIf="
                      !signupForm.get('sendTo').valid &&
                      signupForm.get('sendTo').touched
                    "
                    class="form-text text-muted"
                    >Please enter a valid Email!</span
                  >
                </div>

                <div class="form-group col-12 col-md-6">
                  <label for="emailBody"></label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="emailBody"
                    placeholder="Body"
                  />
                  <span
                    *ngIf="
                      !signupForm.get('emailBody').valid &&
                      signupForm.get('emailBody').touched
                    "
                    class="form-text text-muted"
                    >Please enter a message!</span
                  >
                </div>

                <div class="form-group col-12 col-md-6">
                  <label for="hyperLinks"></label>
                  <input
                    type="url"
                    class="form-control"
                    formControlName="hyperLinks"
                    placeholder="HyperLinks"
                  />
                  <span
                    *ngIf="
                      !signupForm.get('hyperLinks').valid &&
                      signupForm.get('hyperLinks').touched
                    "
                    class="form-text text-muted"
                    >Please enter a hyperlink, no clue why, but DO IT!</span
                  >
                </div>

                <span
                  *ngIf="!signupForm.valid && signupForm.touched"
                  class="form-text text-muted"
                  >Please enter valid info!</span
                >

                <button
                  class="btn btn-primary"
                  type="button"
                  [disabled]="!signupForm.valid"
                  routerLink="/home-page"
                  routerLinkActive="active"
                >
                  Send
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
