@import "colors.scss";

@media all and (max-width:30em){
    a.button3{
        display:block;
        margin:0.2em auto;
    }
}

a.button3{
    display:inline-block;
    padding:0.5em 3.4em;
    margin:0 0.3em 0.3em 0;
    border-radius: 15px;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Raleway',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:$newmessage;
    text-align:center;
    transition: all 0.2s;
}
a.button3:hover{
    background-color:#3a9bd3;
    box-shadow: 3px 3px 3px 3px #888888;
}

.col{
    flex-wrap: wrap;
}

.container-fluid{
    font-family: 'Raleway', sans-serif;
    height: 100vh;
    width: 100vw;
}

.fa{
    color: $menuitems;
}

.has-search .form-control {
    margin-top: 10px;
    padding-left: 2.375rem;
}
  
.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    margin-top: 9px;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

#emailID:hover{
    text-shadow: 2px 2px 5px #8a8888;
}

#emailList{
    flex-wrap: wrap;
}

#leftHalf{
    background-color: #dadada;
    height: 100vh;
}

#messageBar{
    margin-left: 34px;
    padding-top: 32px;
}

#navBar{
    display: flex;
    justify-content: right;
    margin-top: 10px;
}

#navRow{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10px;
}

#navSearch{
    display: flex;
    justify-content: left;
}

#profileContainer{
    margin-left: 22px;
}

#profileList{
    list-style: none;
    margin-top: 24px;
}

#profileImage{
    display: flex;
    justify-content: left;
    padding-left: 0px;
}

#profileName{
    display: flex;
    font-size: smaller;
    justify-content: right;
}

#profilePic{
    border-radius: 50%;
    width: 90px;
    height: 90px;
    margin-left: 10px;
    margin-top: 10px;
}

#profileRow{
    display: flex;
    justify-content: space-evenly;
}


#rightHalf{
    height: 100vh;
}
#userName{
    list-style: none;
    padding-left: 4px;
    padding-top: 40px;
}