<div class="email">
    <div class="emailBody">
        <h6 class="emailAuthor">
                <p class="alignLeft" style="float: left">{{post.author}}</p>
                <p class="alignRight" style="float: right">{{post.date}}</p>
                <div style="clear: both"></div>
        </h6>
        <h5 class="emailTitle">
            <strong>{{post.title}}</strong>
        </h5>
        <p class="emailText" (click)="showFullSummary()">{{ post.summary }}</p>
        <br class="divider">
    </div>
</div>