.emailHead{
    display: flex;
    justify-content: space-between;
    opacity: 0.7;
}

.emailText{
    font-size: 1vw;
    opacity: 0.7;
}

.emailTitle{
    margin-top: -8px;
}

.row-1{
    display: flex;
    justify-content: left;
}

.row-2{
    display: flex;
    justify-content: right;
}

#emailAuthor{
    justify-content: left;
    display: flex;
}