<div class="email">
    <div class="emailBody">
        <h6 class="emailHead">
                <div class="row-1">
                {{post.author}}
                </div>
                <div class="row-2">
                    {{post.date}}
                </div>
        </h6>
        <h5 class="emailTitle">
            <strong>{{post.title}}</strong>
        </h5>
        <p class="emailText" (click)="showFullSummary()">
            {{ post.summary }}
            <!-- <img src="https://ih1.redbubble.net/image.502754092.3426/flat,550x550,075,f.u1.jpg" alt="the guy" height="180" width="180"> -->
        </p>
        <br>
    </div>
</div>