@import "../colors.scss";

@media all and (max-width: 30em) {
  #newMsgButton {
    display: block;
    margin: 0.2em auto;
  }
}

.pulse {
  margin: 100px;
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #FFFFFF;
  cursor: pointer;
  box-shadow: 0 0 0 #FFFFFF;
  animation: pulse 2s infinite;
}
.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #FFFFFF;
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(238, 238, 238, 0.329);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(238, 238, 238, 0.329);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 #FFFFFF;
    box-shadow: 0 0 0 0 #FFFFFF;
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(238, 238, 238, 0.329);
    box-shadow: 0 0 0 10px rgba(238, 238, 238, 0.329);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(238, 238, 238, 0.329);
    box-shadow: 0 0 0 0 rgba(238, 238, 238, 0.329);
  }
}

#newMsgButton {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  display: inline-block;
  padding: 0.5em 3.4em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 15px;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  color: #ffffff;
  background-color: $menuItems;
  text-align: center;
  transition: all 0.2s;
}

#newMsgButton:hover {
  box-shadow: none;
  cursor: pointer;
}

.col {
  flex-wrap: wrap;
}

.container-fluid {
  font-family: "Raleway", sans-serif;
  height: 100vh;
  width: 100vw;
}

.fa {
  color: $menuItems;
}

.fa:hover {
  cursor: pointer;
}

.has-search .form-control {
  margin-top: 10px;
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  margin-top: 10px;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  color: #aaa;
}

#emailID {
  color: #ffffff;
  margin-bottom: 10%;
}

#emailID:hover {
  text-shadow: 2px 2px 5px #8a8888;
}

#emailList {
  flex-wrap: wrap;
}

#leftHalf {
  background-color: $mainMenu;
  height: 100vh;
}

#loginButton {
  margin-top: 5%;
}

#messageBar {
  display: flex;
  justify-content: center;
  margin-left: 34px;
  padding-top: 32px;
}

#navBar {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  width: auto;
  height: 2.375rem;
  line-height: 2.375rem;
}

#navItems {
  font-size: 30px;
  padding: 7px;
  padding-top: 0px;
}

#navRow {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 10px;
}

#navSearch {
  display: flex;
  justify-content: left;
}

#profileButton {
  background-color: $mainMenu;
  border-color: $mainMenu;
}

#profileContainer {
  margin-left: 22px;
}

#profileList {
  list-style: none;
  margin-top: 24px;
}

#profileImage {
  display: flex;
  justify-content: left;
  padding-left: 0px;
}

#profileName {
  display: flex;
  font-size: smaller;
  justify-content: right;
}

#profilePic {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  margin-left: 10px;
  margin-top: 10px;
}

#profileRow {
  display: flex;
  justify-content: space-evenly;
}

#rightHalf {
  height: 100vh;
  background-color: $accent;
}

#userAddress {
  opacity: 0.6;
}

#userInfo {
  list-style: none;
  padding-left: 4px;
  padding-top: 40px;
  color: #ffffff;
}
